* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

body {
    background-image: linear-gradient(rgba(248, 249, 252, 0.5), rgba(248, 249, 252, 0.5)), url('images/interior3.jpg');
    /* background-image: url('images/interior3.jpg'); */
    background-size: cover;

    /* Additional background properties can be added here */
}

.header {
    min-height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/Hotel-banner.jpg); */
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(images/Hotel-banner.jpg);

    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    /* Add padding on both sides */
    z-index: 999;
}


.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    margin-right: 20px;
    font-weight: normal;
}

.nav-links ul li a {
    text-decoration: none;
    white-space: nowrap;
    padding: 22px 12px;
    line-height: 44px;
    outline: none;
    background: transparent;
    color: #252729;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
    font-style: normal;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 0px solid #5a1f5a;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    position: relative;
}

.nav-links ul li a:hover {
    font-weight: bold;
    color: #5a1f5a;
}

.nav-links ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 10px;
    left: 0;
    background-color: #5a1f5a;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.nav-links ul li a:hover::after {
    transform: scaleX(1);
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

nav .fa {
    display: none;
}

.card {
    background-size: cover;
    background-position: center;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.caro {
    padding: 0;
}

.caro-txt {
    background-color: rgba(139, 138, 138, 0.5);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    padding: 5px;
}

.hotels {
    margin-bottom: 10px;
    font-size: 20px;
}

.heading {
    color: #5a1f5a;
    color: #5a1f5a;
    /* font-family: 'Arial', sans-serif; */
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

* {
    font-family: 'EB Garamond', serif;
}

.book-now-button {
    background-color: #5a1f5a;
    color: #ffffff;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.book-now-button:hover {
    transform: scale(1.05);
}

.footer {
    background-color: rgba(188, 123, 188, 0.8);
    padding-bottom: 20px;
    padding-top: 10px;
}

.footer p {
    color: #fff;
}

.fab {
    font-size: 25px;
}

.fac {
    color: #3b5998;
}

.linked {
    color: rgb(10, 102, 194);
}

.whats {
    color: #25D366;
}

.fab:hover {
    color: #5a1f5a;
}

.contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.contact-details a {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}

.contact-details a i {
    margin-right: 5px;
}

/* ------------------About Us----------------- */
.sub-header {
    /* min-height: 100vh; */
    height: 50vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/Hotel-banner.jpg); */
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(images/about.jpg);

    background-position: center;
    background-size: cover;
    position: relative;
}

.sub-header h1 {
    margin-top: 100px;
}

.about-text {
    font-size: 20px;
    font-weight: 500;
}

/* ----------------Services---------------- */
.service-img {
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(images/room2.jpg);
}

.card-container {
    height: 350px;
    /* Adjust the height as needed */
}

@media (max-width: 768px) {
    .nav {
        display: block;
    }

    .text-box h1 {
        font-size: 40px;
    }

    .text-box p {
        font-size: 20px;
    }

    .nav-links ul {
        display: block;
        /* Change display property here */
        padding: 30px;
    }

    .nav-links ul li {
        margin-right: 0;
        /* Remove margin-right for vertical stacking */
    }

    .nav-links {
        position: absolute;
        background: rgba(255, 255, 255, 0.7);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.75s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .card-container {
        height: 250px;
        /* Adjust the height as needed */
    }
}

/* ----------------Loyalty Program------------------- */

.loyalty-img {
    background-image: linear-gradient(rgba(4, 9, 30, 0.3), rgba(4, 9, 30, 0.3)), url(images/loyalty.webp);
}

.table {
    font-size: 16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    /* Semi-transparent white background */
}

.table thead th {
    background-color: #5a1f5a;
    color: #fff;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: rgba(242, 242, 242, 0.5);
    /* Semi-transparent white background for even rows */
}

.table-hover tbody tr:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.table td,
.table th {
    padding: 15px;
    /* Adjust the padding to restore the row height */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    /* Semi-transparent white background for cells */
}

.table-responsive {
    overflow-x: auto;
}

.enroll-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #5a1f5a;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.enroll-button:hover {
    background-color: #7e3882;
}

.table tbody tr:last-child {
    background-color: #f2f2f2;
}

.table tbody tr:last-child td:first-child {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  textarea {
    height: 120px;
  }

  button[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #5a1f5a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #671d67;
  }

  .text-center {
    text-align: center;
  }

  .mt-3 {
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }

    .col-lg-4 {
      margin-top: 20px;
    }

    /* About page text */
    .about-section.about-text .container.w-75 {
        width: 100% !important;
        padding: 5px !important;
      }
  }